<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prueba.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>170425781DA2FCF500D835B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1704258C1DA2FCFA00D835B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>170425971DA2FCFA00D835B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
